/* 기본 태그 디자인 */
* { margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: black;}

/* tap_menu */
.tab_menu {

}

/* tap_menu 안의 list의 li들을 나열 */
.tab_menu .list {
    display: flex;
    height: 200px;
}

/* a 버튼을 눌렀을 때 디자인 */
.tab_menu .list li .btn {
    padding: 0px 5px;
    font-size: 1.5rem;
    margin-left: 10px;
}
.tab_menu .list li.on .btn {
    color: green;
    background-color: darkslategrey;
}

/* contents */
.tab_menu .list li .content{
    display: none;
    position: absolute;
    left: 0; /* 지금은 tap 하나만 구현이라 사용 */
    margin-left: 10px; /*감싸고있는 margin값 추가*/
    width: 480px;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    background-color: darkcyan;
}
/* 버튼을 눌렀을 때 보이는 화면 */
.tab_menu .list li.on .content {
    display: block;
}